@media screen and (max-width: 1100px) {
  h1 {
    font-size: clamp(
      0.3rem,
      0.5rem + 3vw,
      1.8rem
    ); /* Responsive fluid font-size with rem and clamp setting minium, between and max points */
    margin: 0.2em 0.4em;
  }

  nav {
    font-size: clamp(0.4rem, 0.1rem + 3vw, 1.1rem);
  }
}

@media screen and (max-width: 1248px) {
  .grid-layout {
    display: grid;
    grid-area: grid-layout grids;
    background-color: #fff;
    margin: -20rem auto;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-areas:
      "section1 section2"
      "section1 section3";
    animation: fader 2s;
  }

  .section1 {
    grid-area: section1;
    border: 1px solid rgb(246, 246, 246);
  }

  .section2 {
    grid-area: section2;
    border: 1px solid rgb(246, 246, 246);
  }

  .section3 {
    grid-area: section3;
    border: 1px solid rgb(246, 246, 246);
  }
}

@media screen and (max-width: 1030px) {
  /* TOP CONTAINER (Holding Header and Navigation) */

  h1 {
    font-size: clamp(
      0.3rem,
      0.5rem + 3vw,
      1.6rem
    ); /* Responsive fluid font-size with rem and clamp setting minium, between and max points */
    margin: 0.2em 0.4em;
  }

  nav {
    font-size: clamp(0.3rem, 0.1rem + 3vw, 1rem);
  }

  .top-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.05em;
    background-image: linear-gradient(20deg, #063a58 0%, #80bde3 100%);
    /* border: 1px solid rgb(208, 208, 208); */
  }

  .top-container ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
  }

  .top-container ul li {
    padding: 1rem 2em;
    justify-content: space-around;
  }
}

@media screen and (max-width: 969px) {
  /* TOP CONTAINER (Holding Header and Navigation) */

  .top-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.05em;
    background-image: linear-gradient(20deg, #063a58 0%, #80bde3 100%);
    /* border: 1px solid rgb(208, 208, 208); */
  }

  .top-container ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .top-container ul li {
    padding: 1rem 2em;
    justify-content: space-around;
  }

  h1 {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  #banner {
    padding: 9rem;
    margin: 0 auto;
    background-image: url(/Images/mikael-at-mountain.jpeg);
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    text-align: center;
    line-height: 1.2em;
    min-width: 100%;
    height: 100%;
    animation: animatedBackground 10s ease-in-out 1 forwards;
  }

  .bar-under-banner {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6rem;
    padding: 2.5rem;
    background: rgba(18, 21, 37, 0.722);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.4px);
    -webkit-backdrop-filter: blur(2.4px);
    border: 0.05rem solid rgba(0, 74, 93, 0.84);
    text-align: center;
  }

  .grid-layout {
    display: flex;
    flex-wrap: wrap;
    flex: auto;
    flex-basis: content;
    flex-direction: column;
    background-color: #fff;
    margin: -20rem auto;
    animation: fader 2s;
  }

  .image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .img {
    width: 15rem;
    height: 15rem;
    padding: 0.2rem;
    text-align: center;
    border-radius: 50%;
    border: 0.5rem solid white;
  }
}
