/* ------- TABLE OF CONTENT --------- 


  1. Box-Sizing-Reset
  2.
  3.
  4.
  5.
  6.
  7.
  8.

/* 1. Box-Sizing-Reset */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* 2. BASIC TYPOGRAPHY */

html,
body {
}

html {
  font-size: 100%;
}

body {
  background-color: #fff;
  color: #2e475d;
}

body,
input,
select,
textarea {
  font-family: "Open-sans-regular", "Arial", "Oswald", "Ubuntu", "Raleway",
    Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.8em;
  margin-left: 0.5em;
}

h1,
h2,
h3,
p {
  margin: 0 0 0.5em;
}

h1,
h2,
h3 {
  font-family: "Oswald", "Ubuntu", "Raleway";
  color: #303030;
  font-weight: 700;
  line-height: 1em;
  margin: 0 0 1em 0;
  text-transform: uppercase;
}

h1 {
  font-size: 2.5rem; /* 3 times the body text */
  margin: 13px 0;
}

h2 {
  font-size: 2rem; /* 2 times the body text */
  margin: 13px 0;
}

h3 {
  font-size: 1.5rem; /* 1 ½ times the body text */
}

p {
  font-size: 1rem;
}

blockquote {
  background-color: #ecebeb;
  margin: 5px 5px 28px;
}

figcaption {
  font-size: 0.75rem; /* ¾ of the body text */
}

a {
  text-decoration: none;
  color: #050505;
}

a:hover {
  text-decoration: underline;
}

a,
h1 a:link {
  text-decoration: none;
  color: #050505;
}
a,
h1 a:visited {
  text-decoration: none;
  color: #050505;
}
a,
h1 a:focus,
a:hover {
  text-decoration-line: underline;
  text-underline-position: under;
  text-underline-offset: 0.225em;
  color: #000;
  text-decoration-color: #000;
}
a,
h1 a:active {
  text-decoration: none;
  color: #050505;
}

strong,
b {
  color: #020202;
  font-weight: 700;
}

em,
i {
  font-style: italic;
}

/* HEADER */

/* NAV */

#header nav {
  font-family: "Poppins";
  margin-right: 2em;
  line-height: 4.5em;
}

nav {
  font-size: 1em;
}

#nav ul {
  display: flex;
  justify-content: space-around;
}

#nav ul li {
  text-transform: uppercase;
}
