/* ------- TABLE OF CONTENT --------- 


  1. Box-Sizing-Reset & margin/padding reset
  2.
  3.
  4.
  5.
  6.
  7.
  8.

  

/* 1. Box-Sizing-Reset */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

/* 2. BASIC TYPOGRAPHY */

/* Setting up color variables so I don't have to change color at multiple places if I decide to change a common color */

:root {
  --background-color: #fff;
  --body-text-color: #2e475d;
  --heading-text-color: #303030;
  --a-links-color: #050505;
  --skyblue-design: #0693e3;
  --quote-color: #74c3f1;
  --grey-bg-color: rgba(217, 217, 217, 0.675);
  --darkgrey-bg-color: rgb(56, 56, 56);
  --def: #ffffff;
  --inv: linear-gradient(15deg, #093637 #13547a 0%, #80d0c7 100%);
}

body {
  /* background-color: var(--body-background-color); */
  background-image: linear-gradient(
    #093637 33%,
    #16222a 66%,
    #3a6073 87%,
    #fff 100%
  );
  color: var(--body-text-color);
  overflow-x: hidden;
}

/* Setting up general font-familys, font-size, font-weight and line-height for the elements selected down under */

body,
input,
select,
textarea {
  font-family: "Open-sans-regular", "Arial", "Oswald", "Ubuntu", "Raleway",
    Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
}

/* Choosing other fonts for headings 1 - 3 and giving them my variable color for headings, font-weight, line-height and text-transform so all the letters are uppercased. */

h1,
h2,
h3 {
  font-family: "Oswald", "Ubuntu", "Raleway";
  color: var(--heading-text-color);
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
}

/* Making the headings and paragraphs responsive with the clamp css-function (The font-size of this text varies depending on the base font of the page, and the size of the viewport.) */

h1 {
  font-size: clamp(
    0.3rem,
    0.5rem + 3vw,
    2rem
  ); /* Responsive fluid font-size with rem and clamp setting minium, between and max points */
  margin: 0.2em 0.4em;
}

h2 {
  font-size: clamp(
    0.2rem,
    0.4rem + 5vw,
    2.5rem
  ); /* Responsive fluid font-size with rem and clamp setting minium, between and max points */
  margin: 0.8rem 0.2rem;
}

h3 {
  font-size: clamp(
    0.2rem,
    0.1rem + 4vw,
    1.8rem
  ); /* Responsive fluid font-size with rem and clamp setting minium, between and max points */
  margin: 0.8rem 0.4rem;
}

h3::after {
  margin: 0.5rem 0;
  height: 0.2rem;
  width: 45%;
  display: block;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, #16222a 0%, #3a6073 100%);
  border-top-right-radius: 2rem;
  content: "";
  transform: skew(-20deg);
}

p {
  font-size: clamp(0.1rem, 0.1rem + 2.8vw, 1rem);
  margin: 0.8em 0.4em;
}

/* Styling the blockquote element with a grey background,
round corners and an italic font-style to seperate it from the body-text */

blockquote {
  quotes: initial;
  font-style: italic;
  line-height: 1.4em;
  background-color: var(--grey-bg-color);
  margin: 0rem 0.8rem;
  padding: 1rem;
  border-radius: 1rem;
}

/* Using the pseudo-elements ::before and ::after to put in quotations marks inside the blockquote element before and after the text + styling them to have them stand out */

blockquote::before {
  font-family: Georgia, "Times New Roman", Times, serif;
  content: open-quote;
  font-size: 2rem;
  font-weight: 500;
  color: var(--quote-color);
  margin: 0.2rem;
}

blockquote::after {
  font-family: Georgia, "Times New Roman", Times, serif;
  content: close-quote;
  font-size: 2rem;
  font-weight: 500;
  color: var(--quote-color);
  margin: 0.2rem;
}

/* Same as over but with different styling for inline quotes */

q {
  quotes: initial;
  font-style: italic;
  font-size: 0.9rem;
  /* background-color: rgb(234, 231, 231); */
  margin: 0.2rem;
  padding: 0.2rem;
}

.q-cite {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  content: open-quote;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--quote-color);
  margin: 1rem;
  padding: 0.2rem;
}

/* Adding line-break to the pseudo-after element, doing it this way I dont have to repeat myself in the html markup (DRY) */

.q-cite::after {
  content: "\A";
  white-space: pre;
}

q::before {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  content: open-quote;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--quote-color);
  margin: 0.2rem;
}

q::after {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  content: close-quote;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--quote-color);
  margin: 0.2rem;
}

/* More styling for the differents parts of quote markups */

figcaption {
  font-family: "Times New Roman", Times, serif;
  font-size: 0.8rem; /* ¾ of the body text */
  margin: 0.2rem 1rem;
  padding: 0;
  line-height: 1rem;
}

cite {
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
  padding: 0;
  margin: 0;
}

/* General link and emphaasize styling */

a {
  text-decoration: none;
  color: #050505;
}

strong,
b {
  color: #020202;
  font-weight: 700;
}

em,
i {
  font-style: italic;
}

/* General link pseudoelements */

a:hover {
  text-decoration: underline;
}

a,
h1 a:link {
  text-decoration: none;
  color: rgb(100, 100, 100);
}
a,
h1 a:visited {
  text-decoration: none;
  color: rgb(100, 100, 100);
}

a,
h1 a:focus,
a:hover {
  color: #f8f8ce;
  text-decoration-line: underline;
  text-underline-position: under;
  text-underline-offset: 0.225em;
}
a,
h1 a:active {
  text-decoration: none;
  color: rgb(100, 100, 100);
}

/* I make the a links set with the attribute data-tool-tip to choose specific links that I want to do something with. In this case a nice little extra-information tip-bubble */
/* Using transform scale and transition for neat little animation triggered with the pseudo class :hover */

a[data-tool-tip] {
  position: relative;
  color: #303030;
  text-decoration: none;
}

a[data-tool-tip]:hover {
  position: relative;
  color: #0693e3;
  text-decoration: none;
}

a[data-tool-tip]::after {
  content: attr(data-tool-tip);
  display: block;
  position: absolute;
  background-color: var(--darkgrey-bg-color);
  color: #fff;
  padding: 0rem 0.2rem;
  border-radius: 5px;
  font-size: 1rem;
  bottom: 0;
  left: 0;
  white-space: nowrap;
  transform: scale(0);
  transition: transform ease-out 150ms, bottom ease-out 150ms;
}

a[data-tool-tip]:hover::after {
  transform: scale(1);
  bottom: 100%;
}

/* TOP CONTAINER (Holding Header and Navigation) */

.top-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.05em;
  background-image: linear-gradient(20deg, #063a58 0%, #80bde3 100%);
  /* border: 1px solid rgb(208, 208, 208); */
}

.top-container ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.top-container ul li {
  padding: 1rem 2em;
  justify-content: space-around;
}

/* HEADER */

header h1 {
  font-family: "Raleway";
  color: #303030;
}

#header a {
  color: #f9f6ee;
}

#header a:hover {
  text-decoration-line: none;
  color: #f8f8ce;
  text-shadow: 0.4px 0 0.8px hsl(56, 100%, 94%);
}

.name {
  color: #d9edf9;
  font-family: "Ubuntu";
  font-size: 1rem;
  margin: 0 0;
  text-shadow: 0 0 0.8px #aef3ff;
}

.slash {
  color: #f9f6ee;
  font-family: "Lato";
  font-size: 2rem;
  margin: 0 0;
}

/* Header Animations */

header {
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* NAV */

#header nav {
  font-family: "Poppins";
}

nav {
  font-size: clamp(0.5rem, 0.1rem + 3vw, 1.2555rem);
}

nav a {
  color: #f9f6ee;
}

nav a:hover {
  color: #f9f6ee;
  text-decoration: none;
  text-shadow: 0 0 1px #fffde2;
}

#nav ul li {
  display: block;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  text-align: center;
  padding: 2rem;
}

/* nav animations*/

nav {
  animation: 1s ease-out 0s 1 slideInFromRight;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

nav li {
  transition: all 0.1s ease-in-out 0.1s;
}

nav li:hover {
  transform: scale(1.1);
  transition: all 0.15s 1s ease-in-out 0.05s;
}

nav li:after,
nav li:before {
  content: "";
  position: absolute;
  display: block;
  border: 0px solid transparent;
  pointer-events: none;
}

nav li:after {
  width: 0%;
  height: 50%;
  border-top: 2px solid #f9f6ee;
  border-bottom: 2px solid #f9f6ee;
  border-radius: 2rem;
  transition: all 1s ease;
}

nav li:before {
  width: 70%;
  height: 0%;
  border-left: 2px solid #f9f6ee;
  border-right: 2px solid #f9f6ee;
  border-radius: 4rem;
  transition: all 1.2s ease;
}

nav li:hover::before {
  height: 50%;
}

nav li:hover::after {
  width: 70%;
}

/* BANNER */

#banner {
  padding: 12rem;
  margin: 0 auto;
  background-image: url(/Images/mikael-at-mountain.jpeg);
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  text-align: center;
  line-height: 1.2em;
  min-width: 100%;
  height: 88.8vh;
}

#banner h2 {
  font-family: sans-serif;
  position: relative;
  top: -15rem;
  margin: 3rem;
  color: #fff;
  display: inline-block;
  font-size: clamp(2rem, 1rem + 5.5vw, 3.5rem);
  line-height: 1rem;
}
#banner p {
  font-family: "Rubik", sans-serif;
  color: #36454f;
  position: relative;
  top: -30rem;
  margin: 3rem auto;
  line-height: 1.5rem;
  font-size: clamp(0.6rem, 0.7rem + 0.9vw, 1.8rem);
  text-transform: uppercase;
}

/* Setting a pre-wrap on the typewriter id so it allows my typewriter js function to linebreak */
#typewriter {
  margin: 0 auto;
  white-space: pre-wrap;
}

.text-effect {
  margin: 2rem auto;
}
.text-effect span {
  display: inline-flex;
  font-size: 3.8rem;
  text-shadow: 0 0 0 #f5f5f5;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  animation: opacity 4s forwards, smoke 6s 4s forwards;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes smoke {
  60% {
    text-shadow: 0 0 8px #f5f5f5;
  }
  to {
    text-shadow: 0 0 16px #f5f5f5;
    transform: scale(0.5);

    opacity: 0;
  }
}

.eight span:nth-of-type(1) {
  animation-delay: 2.1s;
}
.eight span:nth-of-type(2) {
  animation-delay: 2.6s;
}
.eight span:nth-of-type(3) {
  animation-delay: 2.3s;
}
.eight span:nth-of-type(4) {
  animation-delay: 2.9s;
}
.eight span:nth-of-type(5) {
  animation-delay: 2.5s;
}

.eight span:nth-of-type(6) {
  animation-delay: 2.2s;
}

.eight span:nth-of-type(7) {
  animation-delay: 2.8s;
}
.to-portfolio-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 3.8rem;
  background-image: linear-gradient(90deg, #0d405d 0%, #417f56 100%);
}

.to-portfolio {
  color: #f9f6ee;
  animation: growth-to-portfolio 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes growth-to-portfolio {
  0% {
    font-size: 1rem;
  }
  100% {
    font-size: 2rem;
  }
}

.to-portfolio:hover {
  transform: scale(1);
}

.fa-angle-double-right {
  display: block;
  color: #e3fff5;
  font-size: 3rem;
  position: absolute;
  margin-left: 25rem;
  padding: 0.9rem 0.9rem 0.8rem 1.2rem;
  box-shadow: inset 0 5px 0 rgb(57, 35, 35);
  border-radius: 0 3rem 0 4rem;
  border: 0.8px solid rgb(33, 19, 19);
  background-image: linear-gradient(90deg, #17430e 70%, #9a9491 100%);
  mix-blend-mode: luminosity;
  /* z-index: -200; */
}

/* border-radius: 0.2rem; */
/* box-shadow: inset 0 1px 0 rgb(30, 22, 22); */

/* BUTTONS */

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  font-size: 2rem;
  text-decoration: none;
  color: #f9f6ee;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 0 3rem 0 4rem;
}

.btn:hover {
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 0 1px #fffbc4;
  transition: all 2s ease-in-out 0.05s;
}

a button,
.big:link {
  text-decoration: none;
  color: #fff;
}

a button,
.big:visited {
  text-decoration: none;
  color: #fff;
}

ul.actions {
  text-align: center;
}

ul.actions li {
  display: inline-block;
  padding: 0 1em 0 0;
}

/* MAIN */

main {
  margin: 0 auto;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "intro-section grids";
  grid-template-rows: 1fr 1fr;
  padding: 0 0 20rem 0;
}

.intro-section {
  position: relative;
  margin: 0;
  padding: 6rem;
  padding-bottom: 0;
  width: 100%;
  background-image: linear-gradient(#2c3e50 0%, #44a08d 30%, #093637 100%);
  display: grid;
  text-align: center;
  align-items: center;
}

main h2 {
  color: rgb(236, 236, 236);
  margin-top: 10rem;
}

main h3 {
}

.grid-layout {
  display: grid;
  grid-row: 4;
  grid-area: grid-layout, grids;
  width: 85%;
  background-color: #fff;
  margin: -20rem auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "section1 section2 section3";
  animation: fader 2s;
}

.image-container {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: space-around;
  margin-bottom: -20%;

  /* border: 0.5rem solid rgb(250, 250, 250); */
  border-radius: 50%;
}

.img {
  display: absolute;
  width: 15rem;
  height: 15rem;
  padding: 0;
  text-align: center;
  border-radius: 50%;
  border: 0.5rem solid white;
}

img:before {
  display: block;
  content: "";
  margin-top: 100%;
}

.bluesky-space {
  display: block;
  position: relative;
  width: 100%;
  padding: 7rem;
  margin: 0;
  background-image: linear-gradient(0deg, #2c3e50 0%, #4ca1af 100%);
  text-align: center;
  z-index: 3000;
}

.section1,
.section2,
.section3 {
  padding: 6rem 1.5rem;
}

.section1 {
  grid-area: section1;
  border: 1px solid rgb(246, 246, 246);
}

.section2 {
  grid-area: section2;
  border: 1px solid rgb(246, 246, 246);
}

.section3 {
  grid-area: section3;
  border: 1px solid rgb(246, 246, 246);
}

/* REFERENCES-FOOTER */

.refs-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  background-color: #fff;
  width: 85%;
}

.refs {
  margin-left: 7rem;
  margin: 0 auto;
  font-size: 0.8rem;
  line-height: 1.5rem;
}

.refs a {
  color: rgb(3, 2, 2);
  font-weight: bolder;
}

.refs a:hover {
  text-decoration-color: var(--skyblue-design);
  text-decoration-thickness: 0.1rem;
  text-underline-offset: 0;
}
.refs h3 {
  font-size: 1.3rem;
  margin: 1rem 0;
}

.refs li {
  font-size: 1rem;
  font-style: italic;
  color: rgb(81, 81, 85);
  border-bottom: 0.05rem solid rgb(82, 4, 4);
}

.ref-note {
  font-size: 0.8rem;
}

.fa-brands {
  font-size: 0.9rem;
  padding: 0.2rem;
  color: red;
}

.fa-brands:hover {
  color: rgb(137, 0, 0);
  text-decoration-color: rgb(82, 4, 4);
}

/* 10. FOOTER */

.page-footer {
  padding: 8em 0 6em 0;
  color: #fffff0;
  width: 85%;
  margin: 0 auto;
  background: url(../images/mikael-with-guitar2.jpeg);
  background-color: #6e6e6e;
  background-blend-mode: multiply;
  background-size: 100%;
  background-position: top center;
  background-attachment: fixed;
  text-align: center;
  text-transform: uppercase;
}

.page-footer a {
  color: #f9f6ee;
}

.footer-link:hover,
.footer-link:focus,
.footer-link:active {
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  color: #ffeec0;
  border-radius: 2rem 0 2rem 0;
  border: 1px solid green;
  box-shadow: #7e93a5;
  text-decoration: none;
}

.page-footer .icons {
  color: #f9f6ee;
  font-size: 1.5em;
  font-weight: bolder;
}
ul.icons li {
  display: inline-block;
  padding: 0 1em 0 0;
}
.page-footer .copyright,
.contact {
  margin: 2em 0;
  padding: 0;
  text-align: center;
}
.page-footer .copyright li,
.contact li {
  display: inline-block;
  border-left: solid 0.1em;
  list-style: none;
  margin-left: 1.5em;
  padding-left: 1.5em;
}
.page-footer span {
  color: var(--skyblue-design);
}

.last-link-border {
  display: inline-block;
  border-right: solid 0.1em var(--grey-bg-color);
  list-style: none;

  padding-right: 1.5em;
}

/* footer animations */

.icons li {
  transition: all 1s ease-in-out 1s;
}

.icons li:hover {
  transform: scale(1.1);
  transition: all 0.15s ease-in-out 0.1s;
}

/* ANIMATIONS */

.fadeIn {
  opacity: 0;
  -moz-transition: opacity 3s;
  -webkit-transition: opacity 3s;
  -o-transition: opacity 3s;
  transition: opacity 3s;
}

body.loaded .fadeIn {
  opacity: 1;
}
