/* ------- TABLE OF CONTENT --------- 


  1. Box-Sizing-Reset
  2.
  3.
  4.
  5.
  6.
  7.
  8.

/* 1. Box-Sizing-Reset */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* 2. BASIC TYPOGRAPHY */

* {
  margin: 0;
  padding: 0;
}

html,
body {
}

html {
  font-size: 100%;
}

body {
  background-color: #fff;
  color: #2e475d;
}

body,
input,
select,
textarea {
  font-family: "Open-sans-regular", "Arial", "Oswald", "Ubuntu", "Raleway",
    Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.8em;
}

h1,
h2,
h3 {
  font-family: "Oswald", "Ubuntu", "Raleway";
  color: #303030;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
}

h1 {
  font-size: 2.5rem; /* 3 times the body text */
  margin: 0.2em 0.4em;
}

h2 {
  font-size: 2rem; /* 2 times the body text */
  margin: 0.8em 0.4em;
}

h3 {
  font-size: 1.5rem; /* 1 ½ times the body text */
  margin: 0.8em 0.4em;
}

p {
  font-size: 1rem;
  margin: 0.8em 0.4em;
}

blockquote {
  background-color: #ecebeb;
  margin: 1.5rem 24px;
}

figcaption {
  font-size: 0.75rem; /* ¾ of the body text */
}

a {
  text-decoration: none;
  color: #050505;
}

a:hover {
  text-decoration: underline;
}

a,
h1 a:link {
  text-decoration: none;
  color: #050505;
}
a,
h1 a:visited {
  text-decoration: none;
  color: #050505;
}
a,
h1 a:focus,
a:hover {
  text-decoration-line: underline;
  text-underline-position: under;
  text-underline-offset: 0.225em;
  color: #000;
  text-decoration-color: #000;
}
a,
h1 a:active {
  text-decoration: none;
  color: #050505;
}

strong,
b {
  color: #020202;
  font-weight: 700;
}

em,
i {
  font-style: italic;
}

/* HEADER */

header h1 {
  font-family: "Raleway";
}
header p {
  color: #303030;
  margin: 0 0 1.5em 0;
  text-transform: uppercase;
}

#header a:hover {
  text-decoration-line: none;
  text-decoration-color: #666666;
  color: #666666;
}

header h2 + p {
  font-size: 1.25em;
  margin-top: -1em;
  line-height: 1.5em;
}

header.major h2 {
  font-size: 3em;
  margin: 0 0 0.8em;
}

header.major p {
  font-size: 1.7em;
  margin-bottom: 0;
}

/* NAV */

#header nav {
  font-family: "Poppins";
  margin-right: 2em;
  line-height: 4.5em;
}

nav {
  font-size: 1em;
}

#nav ul {
  display: flex;
  justify-content: space-around;
}

#nav ul li {
  text-transform: uppercase;
}

/* BANNER */

#banner {
  background-image: url(/Images/mikael-at-mountain.jpeg);
  background-color: gray;
  background-size: 100% 100%;
  padding: 16em 0 13em 0;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  line-height: 1.2em;
}

#banner h2 {
  position: relative;
  top: -4em;
  color: #fff;
  display: inline-block;
  font-size: 3.5em;
  line-height: 1.35em;
  margin-bottom: -20em;
}
#banner p {
  position: relative;
  top: -11.7em;
  margin: 2em auto;
  line-height: 1.1em;
  color: #303030;
  font-size: 1.4em;
  text-transform: uppercase;
}
